<h3><%= l(:personal_progress) %></h3>
<style>
	#people-progress {
		width: 100% !important;
	}
</style>

<%
	data = PlanningHelper::planning_issue_by_user(User.current) 
%>

<%= render :partial => 'planning/people_progress', :locals => {:data => data } %>

<% content_for :header_tags do %>
  	<%= stylesheet_link_tag '../stylesheets-dist/trackers_progress_v1.1', :plugin => 'planning_plugin_redmine', :media => 'all' %>
  	<%= javascript_include_tag 'issues_table', :plugin => 'planning_plugin_redmine' %>
<% end %>